# Build outputs
/target
/builds

# Temporary files and generated data
tmp/
tmp-db/
data/
output.log

# Performance data and generated performance graphs
perf.*
*.svg

# Configuration files
config.toml
.pre-commit-config.yaml

# IDE configurations
.idea/
.vscode/
