[package]
name = "floresta-fuzz"
version = "0.1.0"
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4"
bitcoin = { version = "0.32", features = ["serde", "std"] }
floresta-wire = { path = "../crates/floresta-wire" }
floresta-chain = { path = "../crates/floresta-chain" }

[[bin]]
name = "local_address_str"
path = "fuzz_targets/local_address_str.rs"
test = false
doc = false
bench = false

[[bin]]
name = "utreexo_block_des"
path = "fuzz_targets/utreexo_block_des.rs"
test = false
doc = false
bench = false

[[bin]]
name = "addrman"
path = "fuzz_targets/addrman.rs"
test = false
doc = false
bench = false
