# runs our functinal tests from tests/

on:
  push:
  pull_request:
    branches: ["master"]

jobs:
  functional:
    name: Functional
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # see more at
      # https://docs.astral.sh/uv/guides/integration/github/
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Prepare environment
        run: uv sync --all-extras --dev

      - name: Run black formatting
        run: uv run black --check --verbose ./tests

      - name: Run pylint linter
        run: uv run pylint --verbose ./tests

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Tests Setup
        run: bash tests/prepare.sh

      - name: Run functional tests tasks
        run: bash tests/run.sh
