name: Functional Tests

on:
  push:
  pull_request:
    branches: ["master"]

jobs:
  functional:
    name: Functional
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # These are the minimal deps defined by bitcoin core at
      # https://github.com/bitcoin/bitcoin/blob/master/doc/build-unix.md
      - name: Prepare bitcoin-core deps
        run: sudo apt install build-essential cmake pkgconf python3 libevent-dev libboost-dev

      # see more at
      # https://docs.astral.sh/uv/guides/integration/github/
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.12"
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Prepare environment
        run: uv sync --all-extras --dev

      - name: Run black formatting
        run: uv run black --check --verbose ./tests

      - name: Run pylint linter
        run: uv run pylint --verbose ./tests

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Run functional tests tasks
        run: |
          tests/prepare.sh
          tests/run.sh --test-framework
          tests/run.sh --pytest tests/example/* -n 4

      - name: Log tests on failure
        if: failure()
        run: |
          logs=()
          while IFS= read -r line; do
            logs+=("$line")
          done < <(find /tmp/floresta-func-tests* -type f -path "*/logs/*.log" 2>/dev/null || true)

          for logfile in "${logs[@]}"; do
            echo "::group::$logfile"
            cat "$logfile" || echo "Failed to read $logfile"
            echo "::endgroup::"
          done
